
body{
    background-color: #c0c0c0;
}

 form th{
    font-size: larger;
     
} 

form{
    color: white;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    background-color: rgba(72,72,72,0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 30px;
    margin-left: -260px;
    border-radius: 7px;
}

form td{
    line-height:2;
}

form input{
    border-radius: 5px;
    border-style: none;
    height: 25px;
}

textarea{
    border-radius: 5px;
    border-style: none;
    height: 40px;
}

table{
    margin: auto;
}
